name: corners_stats
description: Приложение за статистика на корнери
publish_to: "none"

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  http: ^1.6.0
  sqflite: ^2.0.0+4
  path: ^1.9.1
  path_provider: ^2.0.15
  charts_flutter: ^0.12.0
  intl: ^0.17.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
